@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Light.eot');
  src:
    url('/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Light.woff2') format('woff2'),
    url('/fonts/Avenir-Light.woff') format('woff'),
    url('/fonts/Avenir-Light.ttf') format('truetype'),
    url('/fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Medium.eot');
  src:
    url('/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Medium.woff2') format('woff2'),
    url('/fonts/Avenir-Medium.woff') format('woff'),
    url('/fonts/Avenir-Medium.ttf') format('truetype'),
    url('/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Heavy.eot');
  src:
    url('/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Heavy.woff2') format('woff2'),
    url('/fonts/Avenir-Heavy.woff') format('woff'),
    url('/fonts/Avenir-Heavy.ttf') format('truetype'),
    url('/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Roman.eot');
  src:
    url('/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Roman.woff2') format('woff2'),
    url('/fonts/Avenir-Roman.woff') format('woff'),
    url('/fonts/Avenir-Roman.ttf') format('truetype'),
    url('/fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-BookOblique.eot');
  src:
    url('/fonts/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-BookOblique.woff2') format('woff2'),
    url('/fonts/Avenir-BookOblique.woff') format('woff'),
    url('/fonts/Avenir-BookOblique.ttf') format('truetype'),
    url('/fonts/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-MediumOblique.eot');
  src:
    url('/fonts/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-MediumOblique.woff2') format('woff2'),
    url('/fonts/Avenir-MediumOblique.woff') format('woff'),
    url('/fonts/Avenir-MediumOblique.ttf') format('truetype'),
    url('/fonts/Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Black Oblique';
  src: url('/fonts/Avenir-BlackOblique.eot');
  src:
    url('/fonts/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-BlackOblique.woff2') format('woff2'),
    url('/fonts/Avenir-BlackOblique.woff') format('woff'),
    url('/fonts/Avenir-BlackOblique.ttf') format('truetype'),
    url('/fonts/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Black.eot');
  src:
    url('/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Black.woff2') format('woff2'),
    url('/fonts/Avenir-Black.woff') format('woff'),
    url('/fonts/Avenir-Black.ttf') format('truetype'),
    url('/fonts/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-LightOblique.eot');
  src:
    url('/fonts/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-LightOblique.woff2') format('woff2'),
    url('/fonts/Avenir-LightOblique.woff') format('woff'),
    url('/fonts/Avenir-LightOblique.ttf') format('truetype'),
    url('/fonts/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Oblique.eot');
  src:
    url('/fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Oblique.woff2') format('woff2'),
    url('/fonts/Avenir-Oblique.woff') format('woff'),
    url('/fonts/Avenir-Oblique.ttf') format('truetype'),
    url('/fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-Book.eot');
  src:
    url('/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-Book.woff2') format('woff2'),
    url('/fonts/Avenir-Book.woff') format('woff'),
    url('/fonts/Avenir-Book.ttf') format('truetype'),
    url('/fonts/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir-HeavyOblique.eot');
  src:
    url('/fonts/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Avenir-HeavyOblique.woff2') format('woff2'),
    url('/fonts/Avenir-HeavyOblique.woff') format('woff'),
    url('/fonts/Avenir-HeavyOblique.ttf') format('truetype'),
    url('/fonts/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-BlackItalic.eot');
  src:
    url('/fonts/Quasimoda-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-BlackItalic.woff2') format('woff2'),
    url('/fonts/Quasimoda-BlackItalic.woff') format('woff'),
    url('/fonts/Quasimoda-BlackItalic.ttf') format('truetype'),
    url('/fonts/Quasimoda-BlackItalic.svg#Quasimoda-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-Black.eot');
  src:
    url('/fonts/Quasimoda-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-Black.woff2') format('woff2'),
    url('/fonts/Quasimoda-Black.woff') format('woff'),
    url('/fonts/Quasimoda-Black.ttf') format('truetype'),
    url('/fonts/Quasimoda-Black.svg#Quasimoda-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-MediumItalic.eot');
  src:
    url('/fonts/Quasimoda-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-MediumItalic.woff2') format('woff2'),
    url('/fonts/Quasimoda-MediumItalic.woff') format('woff'),
    url('/fonts/Quasimoda-MediumItalic.ttf') format('truetype'),
    url('/fonts/Quasimoda-MediumItalic.svg#Quasimoda-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-SemiBoldItalic.eot');
  src:
    url('/fonts/Quasimoda-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/Quasimoda-SemiBoldItalic.woff') format('woff'),
    url('/fonts/Quasimoda-SemiBoldItalic.ttf') format('truetype'),
    url('/fonts/Quasimoda-SemiBoldItalic.svg#Quasimoda-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-Medium.eot');
  src:
    url('/fonts/Quasimoda-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-Medium.woff2') format('woff2'),
    url('/fonts/Quasimoda-Medium.woff') format('woff'),
    url('/fonts/Quasimoda-Medium.ttf') format('truetype'),
    url('/fonts/Quasimoda-Medium.svg#Quasimoda-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-Heavy.eot');
  src:
    url('/fonts/Quasimoda-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-Heavy.woff2') format('woff2'),
    url('/fonts/Quasimoda-Heavy.woff') format('woff'),
    url('/fonts/Quasimoda-Heavy.ttf') format('truetype'),
    url('/fonts/Quasimoda-Heavy.svg#Quasimoda-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quasimoda';
  src: url('/fonts/Quasimoda-ExtraBold.eot');
  src:
    url('/fonts/Quasimoda-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Quasimoda-ExtraBold.woff2') format('woff2'),
    url('/fonts/Quasimoda-ExtraBold.woff') format('woff'),
    url('/fonts/Quasimoda-ExtraBold.ttf') format('truetype'),
    url('/fonts/Quasimoda-ExtraBold.svg#Quasimoda-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
