@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('@/style/embla.css');
@import url('@/style/animation.css');

@tailwind base;
@tailwind components;

@layer components {
  .heading--mega-extra-large {
    @apply laptop:leading-6xl text-2xl font-bold mobile-large:text-2xl mobile-large:leading-2xl tablet:text-3xl tablet:leading-3xl laptop:text-6xl;
  }

  .heading--mega-large {
    @apply laptop:leading-6xl text-2xl font-bold mobile-large:text-2xl mobile-large:leading-2xl tablet:text-3xl tablet:leading-3xl laptop:text-5xl;
  }

  .heading--extra-large {
    @apply text-2xl font-bold mobile-large:text-2xl mobile-large:leading-2xl tablet:text-3xl tablet:leading-3xl laptop:text-4xl laptop:leading-4xl;
  }

  .heading--sub-extra-large {
    @apply text-xl font-bold mobile-large:text-xl mobile-large:leading-xl tablet:text-2xl tablet:leading-2xl laptop:text-3xl laptop:leading-3xl;
  }

  .heading--large {
    @apply text-xl font-bold mobile-large:text-xl mobile-large:leading-xl tablet:text-xl tablet:leading-xl laptop:text-2xl laptop:leading-2xl;
  }

  .heading--sub-large {
    @apply text-xl font-medium leading-xl;
  }

  .heading {
    @apply text-lg font-normal leading-lg;
  }

  .main {
    @apply flex w-full flex-col items-center justify-center laptop:px-2xl  laptop-large:px-4xl;
  }

  .sub-heading {
    @apply text-md font-light leading-md;
  }

  .body {
    @apply text-sm font-light leading-sm;
  }

  .caption {
    @apply text-xs font-light leading-xs;
  }

  .card {
    @apply rounded-md border border-default-50 bg-white p-md shadow-md;
  }

  .menu-item {
    @apply heading--large  relative font-bold tracking-wide text-default-50;
  }
}

@tailwind utilities;

@layer base {
  * {
    @apply min-w-0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: roboto;
}

.hamburger .line {
  transition:
    y 300ms ease-in 300ms,
    rotate 300ms ease-in-out,
    opacity 0ms 300ms;
  transform-origin: center;
}

.hamburger[aria-expanded='true'] .line {
  transition:
    y 300ms ease-in-out,
    rotate 300ms ease-in-out 300ms,
    opacity 0ms 300ms;
}

.hamburger[aria-expanded='true'] :is(.top, .bottom) {
  y: 45;
}

.hamburger[aria-expanded='true'] .top {
  rotate: 45deg;
}

.hamburger[aria-expanded='true'] .middle {
  opacity: 0;
}

.hamburger[aria-expanded='true'] .bottom {
  rotate: -45deg;
}

.grecaptcha-badge {
  visibility: hidden;
}

div:has(.grecaptcha-badge) {
  display: none;
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

.hvr-grow-rotate-reverse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
}
.hvr-grow-rotate-reverse:hover,
.hvr-grow-rotate-reverse:focus,
.hvr-grow-rotate-reverse:active {
  -webkit-transform: scale(1.1) rotate(-4deg);
  transform: scale(1.1) rotate(-4deg);
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
