@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('@/style/embla.css');
@import url('@/style/animation.css');

@tailwind base;
@tailwind components;

@layer components {
  .heading--mega-extra-large {
    @apply text-xl font-bold leading-xl mobile-medium:text-2xl mobile-medium:leading-2xl tablet:text-4xl tablet:leading-4xl laptop:text-4xl laptop:leading-4xl laptop-large:text-6xl laptop-large:leading-6xl;
  }

  .heading--mega-large {
    @apply text-2xl font-bold mobile-large:text-2xl mobile-large:leading-2xl tablet:text-3xl tablet:leading-3xl laptop:text-5xl laptop:leading-5xl;
  }

  .heading--extra-large {
    @apply text-xl font-bold leading-xl mobile-large:text-2xl mobile-large:leading-2xl tablet:text-3xl tablet:leading-3xl laptop:text-3xl laptop:leading-3xl laptop-large:text-4xl laptop-large:leading-4xl;
  }

  .heading--sub-extra-large {
    @apply text-xl font-bold leading-xl mobile-large:text-xl mobile-large:leading-xl tablet:text-2xl tablet:leading-2xl laptop:text-3xl laptop:leading-3xl;
  }

  .heading--large {
    @apply text-lg font-bold leading-lg  tablet:text-xl tablet:leading-xl laptop:text-2xl laptop:leading-2xl;
  }

  .heading--sub-large {
    @apply text-lg font-medium leading-lg laptop:text-xl laptop:leading-xl;
  }

  .heading {
    @apply text-md font-normal leading-md laptop:text-lg laptop:leading-lg;
  }

  .sub-heading {
    @apply text-sm font-normal leading-sm laptop:text-md laptop:leading-md;
  }

  .body {
    @apply text-sm font-normal leading-sm;
  }

  .caption {
    @apply text-xs font-light leading-xs;
  }

  .main {
    @apply flex w-full flex-col items-center justify-center laptop:px-2xl  laptop-large:px-4xl;
  }

  main {
    @apply [&>section:last-child]:pb-xl mobile-small:[&>section:last-child]:pb-2xl mobile-medium:[&>section:last-child]:pb-2xl mobile-large:[&>section:last-child]:pb-3xl tablet:[&>section:last-child]:pb-4xl laptop-large:[&>section:last-child]:pb-5xl;
  }

  .main-gap {
    @apply gap-xl mobile-small:gap-2xl mobile-medium:gap-2xl mobile-large:gap-3xl tablet:gap-4xl laptop-large:gap-5xl;
  }

  .inner-section-py {
    @apply py-2xl mobile-small:py-3xl mobile-medium:py-2xl mobile-large:py-4xl tablet:py-5xl;
  }

  .card {
    @apply rounded-sm border border-default-50 bg-white p-md shadow-md;
  }

  .menu-item {
    @apply heading  relative  tracking-wide text-default-50;
  }

  .section-px {
    @apply px-md mobile-medium:px-md mobile-large:px-lg tablet:px-xl laptop:px-3xl laptop-large:px-4xl;
  }

  .boosted-section-px {
    @apply px-md mobile-medium:px-md mobile-large:px-lg tablet:px-xl laptop:px-3xl laptop-large:px-6xl;
  }

  .fade-x {
    @apply before:absolute before:right-0 before:z-20 before:h-full before:w-1/6 before:bg-gradient-to-l before:from-white before:to-transparent after:absolute after:left-0 after:top-0 after:z-20 after:h-full after:w-1/6 after:bg-gradient-to-r after:from-white after:to-transparent;
  }

  .inner-section-gap {
    @apply gap-lg mobile-large:gap-lg tablet:gap-xl;
  }
}

@tailwind utilities;

:root {
  --shadow-color: 19deg 29% 65%;
  --shadow-elevation-low: 0.6px 0.5px 0.6px hsl(var(--shadow-color) / 0.86),
    2.1px 1.8px 2.1px -5px hsl(var(--shadow-color) / 0.43);
  --shadow-elevation-medium: 0.6px 0.5px 0.6px hsl(var(--shadow-color) / 0.8),
    1.8px 1.5px 1.8px -2.5px hsl(var(--shadow-color) / 0.54),
    10.6px 8.9px 10.4px -5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-high: 0.6px 0.5px 0.6px hsl(var(--shadow-color) / 0.75),
    1px 0.8px 1px -1px hsl(var(--shadow-color) / 0.62),
    3.6px 3.1px 3.6px -2px hsl(var(--shadow-color) / 0.5),
    10.9px 9.2px 10.7px -3px hsl(var(--shadow-color) / 0.37),
    25.1px 21.1px 24.6px -4px hsl(var(--shadow-color) / 0.25),
    48.5px 40.7px 47.5px -5px hsl(var(--shadow-color) / 0.12);
}

.shadow-primary-sm {
  box-shadow: var(--shadow-elevation-low);
}

.shadow-primary-md {
  box-shadow: var(--shadow-elevation-medium);
}

@layer base {
  * {
    @apply min-w-0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: roboto;
}

.primary-glow {
  -webkit-box-shadow: 0px 0px 27px 1px rgba(247, 144, 84, 0.57);
  -moz-box-shadow: 0px 0px 27px 1px rgba(247, 144, 84, 0.57);
  box-shadow: 0px 0px 27px 1px rgba(247, 144, 84, 0.57);
}

.hamburger .line {
  transition:
    y 300ms ease-in 300ms,
    rotate 300ms ease-in-out,
    opacity 0ms 300ms;
  transform-origin: center;
}

.hamburger[aria-expanded='true'] .line {
  transition:
    y 300ms ease-in-out,
    rotate 300ms ease-in-out 300ms,
    opacity 0ms 300ms;
}

.hamburger[aria-expanded='true'] :is(.top, .bottom) {
  y: 45;
}

.hamburger[aria-expanded='true'] .top {
  rotate: 45deg;
}

.hamburger[aria-expanded='true'] .middle {
  opacity: 0;
}

.hamburger[aria-expanded='true'] .bottom {
  rotate: -45deg;
}

.grecaptcha-badge {
  visibility: hidden;
}

div:has(.grecaptcha-badge) {
  display: none;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
